body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#sidebar {
    width: 25%;
    height: 100vh;
    float: left;
    background-color: #f2f2f2;
    padding: 10px;
    box-sizing: border-box;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.model-selector {
    display: flex;
    margin-bottom: 10px;
}

.model-category, .model-details {
    flex: 1;
    margin-right: 5px;
}

.model-selector select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.add-button {
    text-align: center;
}

#cesiumContainer {
    width: 75%;
    height: 100vh;
    float: left;
    background-color: #e0e0e0;
    position: relative; /* これを追加 */
}


#cesiumContainer img {
    width: 100%;
    height: 100%;
}


#itemsList {
    width: 90%; /* 必要に応じて調整 */
    height: 150px; /* 固定サイズ */
    overflow-y: auto; /* 縦スクロールバー */
    border: 1px solid #271212; /* 枠線（見た目をわかりやすくするため） */
    background-color: white; /* 背景色を白に設定 */
    margin-top: 10px;
    padding: 5px;
}

/* ポップアップウインドウの基本スタイル */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: 1px solid #888;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    padding: 20px;
}

/* ポップアップ内のコンテンツ */
.popup-content {
    margin: auto;
    text-align: left; /* テキストを左寄せにする */
    width: 400px; /* サイズを大きくする */
}

.checkbox-group, .input-group {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start; /* 左寄せにする */
    flex-wrap: wrap; /* 必要に応じて要素を折り返す */
    gap: 10px; /* 要素間の隙間 */
    margin-bottom: 10px;
}

.small-input {
    width: 80px; /* テキストボックスの幅を小さく設定 */
}

/* 閉じるボタン */
.closeButton {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.closeButton:hover,
.closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.context-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    background-color: #f0f0f0;
    border: 1px solid #d4d4d4;
    list-style-type: none;
    padding: 5px 0;
    margin: 0;
}

.context-menu li {
    padding: 5px 10px;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: #cecece;
}

.context-menu .divider {
    border-top: 1px solid #d4d4d4;
    margin: 5px 0;
}

.context-menu li.inactive {
    color: #888;
    pointer-events: none;
}

.context-menu .checkmark {
    color: green;
    margin-right: 5px;
}

.data-popup {
    display: none;
    position: fixed;
    right: 10px; /* 右上に表示 */
    top: 10px;
    background-color: white;
    border: 1px solid #888;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    padding: 20px;
    z-index: 1001; /* コンテキストメニューより上に表示 */
}

.data-popup .data-content {
    max-height: 300px;
    overflow: auto;
}

.data-popup table {
    width: 100%;
    border-collapse: collapse;
}

.data-popup th, .data-popup td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
}